body{
    background-color: #6d543f;
}

.greeting-box{
    background-color: #fff6ea;
    margin: 0px;
    border-radius: 10px;
    margin-top: 0px;
 display: grid;
 padding-right: 100px;
}
.box-photo{
    grid-column: 2  /3;
    grid-row: 1/1;
    display: flex;
    justify-content: start;
    align-items: start;
}
.photo-of-me{
height: 600px;
}
.name{
    font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-size: 100px;
  display: flex;
  align-items: start;
  margin-top: 0px;
  margin-bottom: 0px;
}
.greet{
font-family: "Libre Baskerville";
  font-optical-sizing: auto;
  font-size: 30px;
  margin-bottom: 0px;
  margin-top: 30px;
  color: #fff6ea;
}

.specialty{
     font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 100px;
text-align: start; 
margin: 0px;
}

.container-info{
    background-color: #fff6ea;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    margin-left: 0px;
    margin-right: 0px;
}
.cat-photo{
    height: 200px;
    width: 200px;
}
.info-box{
     display:flex;
     flex-direction: column;
     align-items: center;
     
}
.info{
    font-family: "Libre Baskerville";
  font-optical-sizing: auto;
  font-size: 20px;
  text-align: center;
}
.info-button{
    background-color: #6d543f;
    color: #fff6ea;
    border-radius: 20px;
    font-size: 30px;
    padding: 3px;
}
.info-button>a{
    color: #fff6ea;
    margin: 50px;
    font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 45px;
}

.fav-projects{
font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 100px;
  text-align: center;
  color: #fff6ea;
  margin-bottom: 0px;   
}
.projects{
display: flex;
justify-content: space-between;
align-items: center;
justify-content: center;

}
.box{
display:flex ;
flex-direction: row;
background-color: #fff6ea;
margin: 50px;
padding: 50px;
border-radius: 20px;

}
.project-img{
    height: 400px;
    width: 300px;
    border: 1px black solid;
    border-radius: 5px;    
}
.project-info{
    display: flex;
    flex-direction: column;
    
}
.project-button{
     background-color: #6d543f;
    color: #fff6ea;
    border-radius: 20px;
    font-size: 30px;
    padding: 5px;
    margin-top: 30px;
}
.project-btn-txt{
     color: #fff6ea;
    margin: 50px;
    font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 45px;
}

.contact{
    color: #fff6ea;
    text-align: center;
     font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-size: 50px;
}
.overthink{
     font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 70px;
}
.contact>img{
        height: 250px;
}
.contact>button
{
    background-color:#fff6ea ;
    color: #fff6ea;
    border-radius: 20px;
    font-size: 50px;
    padding: 3px;
    margin-top: 0px;
}
.contact-btn-txt{
    color: #6d543f;
    margin: 50px;
    font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 45px;
}
.footer>div{
    background-color: #fff6ea;
    
}

@media (max-width: 650px) {
  .greet{
    font-size: 20px;
  }
 .name{
  font-size: 50px;
 } 
 .specialty{
  font-size: 50px;
 }
 .photo-of-me{
  height: 300px;
 }

 .info{
  font-size: 15px;
 }
 .cat-photo{
  height: 150px;
  width: 150px;
 }
 .info-button{
  
   font-size: 10px;
    padding: 1px;
 }
 .info-button>a{
   
  font-size: 40px;
}
.fav-projects{
  font-size: 60px;
}
.box{
margin: 10px;
padding: 20px;
border-radius: 20px;

}
.project-img{
    height: 120px;
    width: 70px;
     
}
.project-button{
     background-color: #6d543f;
    color: #fff6ea;
    border-radius: 20px;
    font-size: 20px;
    padding: 10px;
    margin-top: 30px;
     text-align: center;
}
.project-btn-txt{
   text-align: center;
  font-size: 15px;
   margin: 0px;
}
.contact{
   
  font-size: 20px;
}
.overthink{
    
  font-size: 40px;
}
.contact>img{
        height: 150px;
}
.contact>button
{
    
    font-size: 25px;
    padding: 3px;
    margin-top: 0px;
    
}
.contact-btn-txt{
  
    margin: 20px;
   
  font-size: 30px;
}
.footer>div{
    background-color: #fff6ea;
    
}

}
